<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Disease Prediction</title>
  </head>
  <style>
    .center {
      position: absolute;
      text-align: center;
      left: 50%;
      top: 130%;
      transform: translate(-50%, -50%);
      font-family: Arial, Helvetica, sans-serif;
      background-color: rgb(230, 239, 245);
      justify-content: space-between;
    }
  .nav{
    align-items: left;
    text-align: left;
    margin-right: 1000px;
    
  }
  @media only screen and (min-width: 600px) {
  /* For tablets: */
  .nav {width: 58.33%;}
  .center {width: 70.66%;
  margin-top: 10px;}
 
}
/* For mobile phones: */
[class*="center"] {
  width: 70%;
}
[class*="nav"] {
  width: 100%;
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .nav {width: 58.33%;}
  .center {width: 50%;}
  
}
  </style>

<div class="nav">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'index' %}" >Home</a>

    </div>
  </nav>
</div>
  <body class="center">
    <form action="cancer_result">
        {% csrf_token %}
    
        <div class="form-group">
          <input class="form-control" placeholder="Radius_mean" required type="text" name="radius_mean">
        </div>
    
    
        <div class="form-group">
          <input class="form-control" placeholder="Texture_mean" required type="text" name="texture_mean">
        </div>
    
    
        <div class="form-group">
          <input class="form-control" placeholder="Perimeter_mean" required type="text" name="perimeter_mean">
        </div>
    
    
        <div class="form-group">
          <input class="form-control" placeholder="Area_mean" required type="text" name="area_mean">
        </div>
    
    
        <div class="form-group">
          <input class="form-control" placeholder="smoothness_mean" type="text" required name="smoothness_mean">
        </div>
    
    
        <div class="form-group">
          <input class="form-control" placeholder="compactness_mean" required type="text" name="compactness_mean">
        </div>
    
        <div class="form-group">
          <input class="form-control" placeholder="concavity_mean" required type="text" name="concavity_mean">
        </div>
    
    
        <div class="form-group">
          <input class="form-control" placeholder="concave points_mean" required type="text" name="concave points_mean">
        </div>
    
    
        <div class="form-group">
          <input class="form-control" placeholder="symmetry_mean" required type="text" name="symmetry_mean">
        </div>
        <div class="form-group">
            <input class="form-control" placeholder="fractal_dimension_mean" required type="text" name="fractal_dimension_mean">
          </div>
          
          <div class="form-group">
            <input class="form-control" placeholder="radius_se" required type="text" name="radius_se">
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="texture_se" required type="text" name="texture_se">
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="perimeter_se" required type="text" name="perimeter_se">
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="area_se" required type="text" name="area_se">
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="smoothness_se" required type="text" name="smoothness_se">
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="compactness_se" required type="text" name="compactness_se">
          </div>
          <div class="form-group">
            <input class="form-control" placeholder="concavity_se" required type="text" name="concavity_se">
          </div>
          <div class="form-group">
          <input class="form-control" placeholder="concave points_se" required type="text" name="concave points_se">
        </div>
        <div class="form-group">
        <input class="form-control" placeholder="symmetry_se" required type="text" name="symmetry_se">
    </div>
    <div class="form-group">
    <input class="form-control" placeholder="fractal_dimension_se" required type="text" name="fractal_dimension_se">
   </div>
   <div class="form-group">
<input class="form-control" placeholder="radius_worst" required type="text" name="radius_worst">
</div>
<div class="form-group">
<input class="form-control" placeholder="texture_worst" required type="text" name="texture_worst">
</div>
<div class="form-group">
<input class="form-control" placeholder="perimeter_worst" required type="text" name="perimeter_worst">
</div>
<div class="form-group">
<input class="form-control" placeholder="area_worst" required type="text" name="area_worst">
</div>
<div class="form-group">
<input class="form-control" placeholder="smoothness_worst" required type="text" name="smoothness_worst">
</div>
<div class="form-group">
<input class="form-control" placeholder="compactness_worst" required type="text" name="compactness_worst">
</div>
<div class="form-group">
<input class="form-control" placeholder="concavity_worst" required type="text" name="concavity_worst">
</div>
<div class="form-group">
<input class="form-control" placeholder="concave points_worst" required type="text" name="concave points_worst">
</div>
<div class="form-group">
<input class="form-control" placeholder="symmetry_worst" required type="text" name="symmetry_worst">
</div>
<div class="form-group">
<input class="form-control" placeholder="fractal_dimension_worst" required type="text" name="fractal_dimension_worst">
</div>
<div class="form-group">
        <input class="btn btn-primary btn-lg btn-block" type="submit" value='Predict'>
</div>    
      </form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>